html, body {
    height: 100%;
    margin: 0;
}

body {
    background: url('https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExY3JkazY4cHNpYW1rMDRncTBjN214N3FhZGlldWJrOWVpejIyZzB2diZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/26FPKhUtNG3TW74f6/giphy.gif') 
    no-repeat center center fixed;
    background-size: cover;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
